<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <title>Danh sach bai bao</title>
</head>

<body>



    <div class="container">
        <div class="page-header">
            <h1>Danh sach bai bao</h1>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ten Bai Bao</th>
                    <th>Ten Nhom Tac gia</th>
                    <th>Chi So ISBN</th>
                    <th>So Trang</th>
                    <th>Nam Xuat Ban</th>
                    <th colspan="2" style="text-align: center;">Chức Năng </th>
                </tr>
            </thead>
            <tbody>
                <% var index = 1 %>
                <% baibao.forEach(item => {%>
                <tr>
                    <td><%- index++ %></td>
                    <td><%- item.TenBaiBao %></td>
                    <td><%- item.TenNhomTacGia %></td>
                    <td><%- item.ISBN%></td>
                    <td><%- item.SoTrang%></td>
                    <td><%- item.NamXuatBan%></td>
                    <td><a href="/home/form">Them Bao</a></td>
                    <td><a href="/home/xoa/<%=item.ISBN%>">Xoa Bao</a></td>
                </tr>
                <%}); %>
            </tbody>
        </table>
    </div>


</body>

</html>